<app-filters
  [axisOptions]="axisOptions"
  [operationOptions]="operationOptions"
  [facts]="facts"
  [loading]="filterDataLoading"
  (onSubmit)="initTable($event, true)"
>
</app-filters>

@if (this.headers.length > 0) {
<section>
  <div class="table-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th></th>
          @for (header of headers; track $index) {
          <th>{{ header }}</th>
          }
        </tr>
      </thead>
    </table>
  </div>
  <div class="table-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        @for (row of rows; track $index) {
        <tr>
          @for (value of row; track $index) {
          <td [ngClass]="{ highlight: $index == 0 }">{{ value ?? "-" }}</td>
          }
        </tr>
        }
      </tbody>
    </table>
  </div>

  <div class="w-full flex justify-content-end align-items-center flex-wrap">
    <span class="m-3">Current Dimension:</span>
    <p-select
      class="m-3"
      [(ngModel)]="currentDimension"
      [options]="dimensions"
      (onChange)="onDimensionChange($event)"
    ></p-select>
  </div>

  <div
    class="w-full flex flex-column justify-content-end align-items-center flex-wrap"
  >
    <span class="m-3">Pivot:</span>
    <div class="flex">
      <p-button
        icon="pi pi-arrow-up"
        (onClick)="onPivot('vertical')"
      ></p-button>
    </div>
    <div class="flex gap-6">
      <p-button
        icon="pi pi-arrow-left"
        (onClick)="onPivot('horizontal')"
      ></p-button>
      <p-button
        icon="pi pi-arrow-right"
        (onClick)="onPivot('horizontal')"
      ></p-button>
    </div>
    <div class="flex">
      <p-button
        icon="pi pi-arrow-down"
        (onClick)="onPivot('vertical')"
      ></p-button>
    </div>
  </div>
</section>
} @else if (this.tableDataLoading) {
<p-progressSpinner
  class="w-12 h-12"
  strokeWidth="8"
  fill="#EEEEEE"
></p-progressSpinner>
}
